*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-image:url("https://github.com/Ullas9080/Image/blob/main/img/1feb82a6-a569-4e40-8a49-b42418cbcdf1.jpg?raw=true")
}
#container
{
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
    height: 100vh;
}
/* .color{
  display: none;
} */
.heading
{
  /* margin-bottom: 30%; */
  border: 2px none;
  height: 100px;
  width: 250px;
  padding: 2%;
  border-radius: 20%;
  background-color: rgb(0, 0, 0);
  color: white;
}

/* CSS */
button { 
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}
